body{
    background-image: url('content/hole_4_jpg.jpg');
}
#div1 {
    background-color:dimgrey;
    text-align:center;
    color:black;
}
h2{
    text-align:center;
    color:black;
 }
/*WebGrid Styles*/
.gridtable-alt
{
    background-color:#C0C0C0;
}
