body {
    background-color:dimgrey;
    text-align:center;
    color:black;
}
.lb1 , .lb2, .lb3{
    height:220px;
    width:130px;
}
.lb4{
    height:800px;
    width:400px;
}
  
.gridtable-alt
{
    background-color:#C0C0C0;
}