body {
    background-color:dimgrey;
    text-align:center;
    color:black;
}
#Label6 Label7 Label8 {
    padding-right: 50px;
}
 /*WebGrid Styles*/
gridtable thead,
gridtable thead a:link,
gridtable thead a:hover,
gridtable thead a:visited,
gridtable header
{
    color:#ffffff;
    text-align:center;
}
gridtable tfoot,
gridtable tfoot a:link,
gridtable tfoot a:hover,
gridtable tfoot a:visited
{
    text-align:center;
    background-color:#ffffff;
    color:white;
}  
